.container-xl {
	width: 100%;
	max-width: 133rem;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 1344px) {
		max-width: 124.6rem;
	}
}
.container-sm {
	width: 100%;
	max-width: 95rem;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
